<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kcarlstr.assignment1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ClaimsListActivity"
            android:label="Claims" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExpenseListActivity"
            android:label="Claim"/>

        <activity android:name=".ExpenseEditActivity"
            android:label="Expense"/>

        <activity android:name=".DatePickerActivity"
            android:label="Pick Date"/>
        
        <activity android:name=".EmailActivity"
            android:label="Email Claim"/>
    </application>

</manifest>
